.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}

.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-item-type {
  line-height: 1.5;
  color: #434455;
}
